@import 'tailwindcss';

:root {
  --background: #fdfcfc;
  --foreground: #171717;
  --border: #e5e5e5;
  --ring: #a1a1a1;
  --card: #fff;
  --input: #e5e5e5;
  --muted-foreground: #737373;
  --destructive: #e40014;

  --accent: #7b94ea;
  --brand-primary: #8481fa;
  --brand-secondary: #38c9c8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #f3f5f7;
    --border: #323232;
    --ring: #737373;
    --card: #171717;
    --input: #ffffff26;
    --muted-foreground: #a1a1a1;
    --destructive: #ff6568;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-input: var(--input);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);

  --color-accent: var(--accent);
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);

  --font-sans: var(--font-inter);

  --background-image-brand-glow:
    linear-gradient(25deg, var(--brand-primary), transparent 80%),
    linear-gradient(-25deg, var(--brand-secondary), transparent 80%);

  --background-image-brand: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );

  --animate-slide-up: slide-up 0.45s cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-sans text-foreground;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;
  }
}
